<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="/static/main.css" rel="stylesheet">
</head>

<body>
  <h2 style="color: whitesmoke;">Weather Forecasting</h2>
  <div>
    <form action="/weather" method="post" class="form1">
      <div>
        <span>
          <label class="container">Average_humidity
            <input type="checkbox" name="Average_humidity" value="Average_humidity">
            <span class="checkmark"></span>
          </label>
        </span>

        <span>
          <label class="container">Average_dewpoint
            <input type="checkbox" name="Average_dewpoint" value="Average_dewpoint">
            <span class="checkmark"></span>
          </label>
        </span>
      </div>

      <br>

      <div>
        <span>
          <label class="container">Average_barometer
            <input type="checkbox" name="Average_barometer" value="Average_barometer">
            <span class="checkmark"></span>
          </label>
        </span>

        <span>
          <label class="container">Average_windspeed
            <input type="checkbox" name="Average_windspeed" value="Average_windspeed">
            <span class="checkmark"></span>
          </label>
        </span>
      </div>

      <br>

      <div>
        <label class="container">Average_gustspeed
          <input type="checkbox" name="Average_gustspeed" value="Average_gustspeed">
          <span class="checkmark"></span>
        </label>

        <label class="container">Average_direction
          <input type="checkbox" name="Average_direction" value="Average_direction">
          <span class="checkmark"></span>
        </label>
      </div>

      <br>

      <div>
        <label class="container">Rainfall_for_month
          <input type="checkbox" name="Rainfall_for_month" value="Rainfall_for_month">
          <span class="checkmark"></span>
        </label>

        <label class="container">Rainfall_for_year
          <input type="checkbox" name="Rainfall_for_year" value="Rainfall_for_year">
          <span class="checkmark"></span>
        </label>
      </div>

      <br>

      <div>
        <label class="container">Maximum_rain_per_minute
          <input type="checkbox" name="Maximum_rain_per_minute" value="Maximum_rain_per_minute">
          <span class="checkmark"></span>
        </label>

        <label class="container">Maximum_temperature
          <input type="checkbox" name="Maximum_temperature" value="Maximum_temperature">
          <span class="checkmark"></span>
        </label>
      </div>

      <br>

      <div>
        <label class="container">Minimum_temperature
          <input type="checkbox" name="Minimum_temperature" value="Minimum_temperature">
          <span class="checkmark"></span>
        </label>

        <label class="container">Minimum_pressure
          <input type="checkbox" name="Minimum_pressure" value="Minimum_pressure">
          <span class="checkmark"></span>
        </label>
      </div>

      <br>

      <div>
        <label class="container">Maximum_pressure
          <input type="checkbox" name="Maximum_pressure" value="Maximum_pressure">
          <span class="checkmark"></span>
        </label>

        <label class="container">Maximum_windspeed
          <input type="checkbox" name="Maximum_windspeed" value="Maximum_windspeed">
          <span class="checkmark"></span>
        </label>
      </div>

      <br>

      <div>
        <label class="container">Maximum_gust_speed
          <input type="checkbox" name="Maximum_gust_speed" value="Maximum_gust_speed">
          <span class="checkmark"></span>
        </label>

        <label class="container">Maximum_humidity
          <input type="checkbox" name="Maximum_humidity" value="Maximum_humidity">
          <span class="checkmark"></span>
        </label>
      </div>

      <br>

      <div>
        <label class="container">Minimum_humidity
          <input type="checkbox" name="Minimum_humidity" value="Minimum_humidity">
          <span class="checkmark"></span>
        </label>

        <label class="container">Maximum_heat_index
          <input type="checkbox" name="Maximum_windspeed" value="Maximum_heat_index">
          <span class="checkmark"></span>
        </label>

      </div>

      <br>

      <button type="submit" class="chat-input">Selected</button>

    </form>
  </div>

</body>

</html>